{include file="Application/Home/View/Public/pageheader.html"}
<body>
	<div class="container">
		<h4 style="display:block;width:52px;margin:10px auto">{$goods.name}</h4>
		<table class="table table-striped list-table inventory">
			<thead>
				<tr>
					<td width="12.5%">商品款式</td>
					<td width="12.5%">库存数量</td>
					<td width="12.5%">库存警报数量</td>
					<td width="12.5%">库存成本金额(￥)</td>
					<td width="12.5%">出库</td>
					<td width="12.5%">库存修正</td>
                    <td width="15%">入库时间</td>
                    <td width="10%">操作</td>
				</td>
			</thead>
			<tbody id="inventory_table">
                {foreach from=$goods.inventory item=i}
				<tr>
					<td>
                        {$i.style}
                        <input type="hidden" name="style" value="{$i.style}"/>                        
                    </td>
					<td>
                        {$i.stock}
                        <input type="hidden" name="stock" value="{$i.stock}"/>
                    </td>
					<td>
                        <input class="form-control" name="warn_num" type="number" value="{$i.warn_num}"/>
                    </td>
					<td>
                        {$i.cost}
                        <input type="hidden" name="cost" value="{$i.cost}"/>
                    </td>
					<td>
                        <input class="form-control" name="out" type="number"/>                
                    </td>
					<td>
                        <input class="form-control" name="check" type="number"/> 
                    </td>
                    <td>
                        {$i.created_at|date_format:"%Y-%m-%d %H:%M:%S"}
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-minus"></span>
                        <input type="hidden" name="id" value="{$i.id}"/>
                    </td>
				</tr>
                {/foreach}
			</tbody>
		</table>
        <a class="plus" href="javascript:add()">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
        <datalist id="styles">
        </datalist>
        <button class="btn btn-success" onclick="javascript:save()">保存</button>
	</div>
</body>
<script>
    var field = [
        'style',
        'stock',
        'warn_num',
        'cost',
        'out',
        'check',
        'id'
    ];
    $(document).ready(function(){
        $.ajax ({
            url : '/index.php/Home/inventory/allStyle',
            type : "post",
            dataType : "json",
            data : 'goods_id='+{$goods.id},
            success : function(result) {
                if(result.error){
                    return '';
                }else{
                    var styles = result.content;
                    $.each(styles,function(i,style){
                        $("<option>"+style+"</option>").appendTo('#styles');
                    })
                }   
            }   
        });
    })
    function add()
    {
        var tr = $("<tr></tr>");
        $.each(field,function(i,f){
            if(f == 'id'){
                return
            }
            var proper = {
                name: f,
                class: 'form-control',
                type: 'number',
            };
            if(f == 'style'){
                proper.type = 'text';
                proper.list = 'styles';
            }else if(f == 'out' || f == 'check'){
                proper.disabled = true;
            }
            tr.append(
                $("<td></td>").append(
                    $("<input />",proper)
                )
            )
        });
        tr.append(
            $("<td></td>").append(
                $("<input />",{
                    name: 'time',
                    type: 'number',
                    class: 'form-control',
                    disabled: 'true'
                })
            ),
            $("<td></td>").append(
                $("<span></span>",{
                    class: 'glyphicon glyphicon-minus',
                    disabled: 'true'
                }),
                $("<input />",{
                    name: 'id',
                    type: 'hidden',
                    value: ''
                })
            )
        );
        tr.appendTo('#inventory_table');
    }
    function save()
    {
        field.push('id');
        for(var i in field){
            eval("var "+ field[i] + '= []' );
            $("input[name='"+field[i]+"']").each(
                function(){
                    eval(field[i]+'.push($(this).val())');
                }
            );
        }
        var inventory = new Array();
        for(var i in style){
            var a = {};
            for(var j in field){
                eval("a['"+field[j]+"']= "+field[j]+'[i]');
            }
            inventory.push(a);
        }
        $.ajax ({
            url : '/index.php/Home/Inventory/inventoryUpdate',
            type : "post",
            dataType : "json",
            data : { 'inventory' : inventory, 'goods_id' : {$goods.id} },
            success : function(result) {
                if(result.error){
                    alert(result.message);
                }else{
                    var content = result.content;
                    
                }
            }
        });
             
    }
</script>